.App {
  text-align: center;
}

.Container{
  margin: 0 auto;
  max-width: 1400px;
  border-radius: 2px;
  border: 1px solid lightgrey;
}

.TotalCost{
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}